@model YifatTshuvaP1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>


<div id="containershow">
    <nav>
        <a class="navlink"  href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink"  href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Your last updated salary is @Model.Salary</p>
    <p>Member Since @Model.HireDate.ToString("dd-MMM-yyyy")</p>
    <p>@Model.TeacherId</p>





    <h2>List of Classes</h2>
    @foreach (var classitem in @Model.ListOfClasses)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Class/Show/@classitem.ClassId">@classitem.ClassName @classitem.ClassCode</a></div>
        </div>
    }
</div>

